<%- include('master') %>

<div class="main-panel">

  <div class="content-wrapper">
     <div class="col-lg-12 grid-margin stretch-card table-responsive">
              <div class="card" style = "overflow-x:auto;">
                <div class="card-body">
                  <h4 class="card-title">Patient Queries</h4>
                  <!-- <p class="card-description"> Add class <code>.table-hover</code> -->
                  </p>
                  <table class="table table-hover" id = "example">
                    <thead>
                      <tr role="row">
                        <!-- <th>Patient Id</th> -->
                        <th role="columnheader">Image</th>
                        <th role="columnheader">Name</th>
                        <th role="columnheader">Email</th>
                        <th role="columnheader">Mobile</th>
                        <!-- <th>Message</th> -->
                        <th role="columnheader">Department</th>
                        <!-- <th>Admin Reply</th> -->
                        <!-- <th>Reply</th> -->
                        <th role="columnheader">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% 
                        let i = 1;
                        feedbacks.forEach(function(item) { 
                      %>
                        <tr>
                            <% if(item.image) { %>
                              <td>image</td>
                            <% }else{ %>
                            <td>-</td>
                            <% } %>
                              
                          <td><%= item.name %></td>
                          <td><%= item.email %></td>
                          <td><%= item.mobile %></td>
                          <td>
                            <select class="form-select" name = "query_type_sel" class = "query_type_sel" onchange="updateDepartment('<%= item._id %>',this)">
                              <option value="">Please select</option>
                              <% query_types.forEach(function(item1) { %>
                                <option value="<%= item1.id %>"
                                  <% if(item1._id == item.query_type_id){ %>
                                  selected
                                  <% } %>
                                  ><%= item1.name %></option>
                              <% }) %>
                            </select>
                            
                          </td>
                          <% if(item.is_reply == 'no') { %>
                            <td role="cell"><label class="badge badge-danger give-reply" data-id = "<%= item._id %>" data-mob = "<%= item.mobile %>" data-msg = "<%= item.message %>">Pending</label></td>
                          <% }else{ %>
                            <td role="cell"><label class="badge badge-success">Replied</label></td>
                          <% } %>
                        </tr>
                      <% i++; }); %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
  </div>


</div>

<script>

$('.give-reply').click(function(){

  $('#patient_reply').modal('show');
  $('#id').val($(this).attr('data-id'));
  $('#mob').val($(this).attr('data-mob'));
  $("textarea#patient_msg").val($(this).attr('data-msg'));
  $('#patient_msg').prop('disabled', true);

 });

 $('#reply_by_admin').click(function(e){

let id = $('#id').val();
let message = $('#message').val();
let query_type_id = $('#query_type').val();
let mob = $('#mob').val();

if(message == ''){
  alert("Please enter message");
  return false;
}

if(query_type_id == ''){
  alert("Please select query type");
  return false;
}


$.ajax({
     url: "/admin/reply",
     type: "POST",
     data:{
      id:id,message:message,query_type_id:query_type_id,mob:mob
     },
     dataType: 'json',
     beforeSend: function(){
      // $('#invite-agent').attr('disabled','disabled');
      // $('#invite-agent').hide();
      // $('.fa-spin').css('font-size','24px');
      // $('.fa-spin').show();
     },
     success: function (data) {
      $('#patient_reply').modal('hide');
        if(data.status == true){



        swal({
          title: 'Success',
          text: 'Reply has been sent.',
          type: 'success',
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'Ok',
          closeOnConfirm: true
      },
       function(isConfirm) {
            if (isConfirm) {
               location.reload();
            }
       });
           

         

        }else{
        
          swal({
          title: 'Oops..',
          text: 'Something went wrong!',
          type: 'error',
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'Ok',
          closeOnConfirm: true
      });

        }
     },
     error: function (jqXHR, textStatus, errorThrown) {
      $('#patient_reply').modal('hide');
         if (jqXHR.status == 500) {


    swal({
          title: 'Oops..',
          text: "Something went wromg.",
          type: 'error',
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'Ok',
          closeOnConfirm: true
      });

            
         } else {
             console.log(jqXHR.responseText);
         }
     }
 });

});

function updateDepartment(feedback_id,el){

let dept_id = el.value

$.ajax({
       url: "/admin/update-dept",
       type: "POST",
       data:{
        feedback_id:feedback_id,dept_id:dept_id
       },
       dataType: 'json',
       beforeSend: function(){
       },
       success: function (data) {
       
          if(data.status == true){



          swal({
            title: 'Success',
            text: data.msg,
            type: 'success',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Ok',
            closeOnConfirm: true
        },
         function(isConfirm) {
              if (isConfirm) {
                 location.reload();
              }
         });
             

           

          }else{
          
            swal({
            title: 'Oops..',
            text: 'Something went wrong!',
            type: 'error',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Ok',
            closeOnConfirm: true
        });

          }
       },
       error: function (jqXHR, textStatus, errorThrown) {
           if (jqXHR.status == 500) {


      swal({
            title: 'Oops..',
            text: "Something went wromg.",
            type: 'error',
            confirmButtonColor: '#3085d6',
            confirmButtonText: 'Ok',
            closeOnConfirm: true
        });

              
           } else {
               console.log(jqXHR.responseText);
           }
       }
   });

}
</script>

<%- include('footer') %>
