<%- include('master') %>

<div class="content-wrapper">
	            
    <div class="col-12 grid-margin stretch-card">
       <div class="card">
         <div class="card-body">

            <!-- this pic from url query parameter -->
           

            <!-- this mesaage will display when send with ejs file -->
            <%- include('error') %>
            <%- include('success') %>             
           <h4 class="card-title text-center">Patient Feedback Form</h4>
           <div class="brand-logo text-center">
               <img src="/assets/images/logo.png" style = "width:75px;">
           </div>
           
       <form class="forms-sample" id = "feedback-form" action = "/user/feedback" method = "post">

           <div class="form-group">
               <div class = "row">
                   <div class = "col-md-6">
                       <label>Upload Image</label>
                       <input type="file" id="imageUpload" class="form-control" name = "feedback_img" accept="image/*">
                   </div>
                   <div class = "col-md-6">
                       <label for="exampleInputPassword4">Name</label>
                       <input type="text" value = "<%= name %>" name = "name" id = "name" class="form-control" readonly>

                       <input type="hidden" value = "<%= id %>" name = "patient_id" id = "patient_id" class="form-control" readonly>
                   </div>
               </div>
           </div>

           <div class="form-group">
               <div class = "row">
                   <div class = "col-md-6">
                       <label for="exampleInputPassword4">Email</label>
                       <input type="email" value = "<%= email %>" name = "email" id = "email" class="form-control" readonly>
                   </div>
                   <div class = "col-md-6">
                       <label for="exampleInputPassword4">Age</label>
                       <input type="text" value = "<%= age %>" name = "age" id = "age" class="form-control" readonly>
                   </div>
               </div>
           </div>


           <div class="form-group">
               <div class = "row">
                   <div class = "col-md-6">
                       <label for="exampleInputPassword4">Mobile</label>
                       <input type="text" value = "<%= mobile %>" name = "mobile" id = "mobile" class="form-control" readonly>
                   </div>
                   <div class = "col-md-6">
                       <label for="exampleTextarea1">Message</label>
                       <textarea class="form-control" id="message" name = "message" rows="4"></textarea>
                   </div>
               </div>
           </div>

           <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
           </form>
         </div>
       </div>
     </div>

     </div>

<script type="text/javascript">
        
    $(document).ready(function () {

        $('#feedback-form').validate({ // initialize the plugin
            rules: {
                email: {
                    required: true,
                    email: true,
                },
                message: {
                    required: true,
                },
                
            },
            submitHandler: function(form) {
                form.submit(); // Submit the form if valid
            }
        });

    });

    $(document).ready( function() {
         // Get the input element and the preview image element
        const imageUpload = document.getElementById('imageUpload');
        // const imagePreview = document.getElementById('imagePreview');

        // Event listener to handle the image upload
        imageUpload.addEventListener('change', function(event) {
            const file = event.target.files[0];

            const filename = file.name;

            const extension = filename.split('.').pop().toLowerCase(); 

            if(extension != 'jpg' && extension == 'jpeg' && extension == 'png' && extension == 'gif'){
            
                alert("Please upload only images.")
                $('#imageUpload').val('');
                return false;
            }
        });     
    });

</script>